body {
  margin: 0px;
  background: #fff;
  top: 0;
  font-family: Montserrat;
}
.all-content, .directory {
  padding-left: 0;
  padding-right: 0;
}
.header {
  background-image: url("../images/header-dark-bg.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
  position: fixed;
  top:0; left:0;
  z-index: 999;
}
.search {
  float: right;
  padding-right: 25px;
}
.input-style {
  width: 300px;
  height: 34px;
  margin-top: 13px;
  padding-left: 1.5rem;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 1px #ffffff;
	font-size: 13px;
	font-weight: 300;
	color: #343441;
  font-family: Montserrat, "FontAwesome";
}
.panel.panel-collapse.collapse.in:last-of-type {
  background-color: lime;
}
.seach-btn {
  position: absolute;
  border-radius: 100px;
  background: #fff;
  border: 0;
  width: 77px;
  right:28px;
  top: 16px;
  height: 28px;
}
.seach-btn:focus, .input-style:focus {
  outline:0;
}

.profile, .content {
  margin-top: 25px;
}
.name {
  font-size: 22px;
  font-weight: 500;
  color: #0e3f51;
}
.sub-title {
  font-size: 12px;
  font-weight: 600;
  color: #c2c2c2;
}
.content-detail {
  font-size: 15px;
  font-weight: 300;
  color: #343441;
}
.info-header.row{
  margin-left: 0;
  margin-right: 0;
  border-radius: 5px 5px 0 0;
  background-color: #fafafa;
  border: solid 1px #ededed;
}
.info-header {
  border-bottom: solid 1px #ededed;
}
.user-title {
  background-image: url(../images/user-details.svg);
}
.info-title {
  background-image: url(../images/contact-details.svg);
}
.group-title {
  background-image: url(../images/doe-black-logo.png);
}
.user-title, .info-title, .group-title {
  background-repeat: no-repeat;
  background-position: 1em .7em;
  font-size: 15px;
  font-weight: 500;
  color: #0e3f51;
  border-right:solid 1px #ededed;
  padding: 10px;
  padding-left: 40px;
}
.info-btn {
  font-size: 12px;
  font-weight: bold;
  color: #0e3f51;
  text-align: center;
  padding: 12px;
}
.info-details {
  padding: 15px;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
  border: solid 1px #ededed;
  min-height: 210px;
  margin-bottom: 20px;
}
.content .col-xs-9, .content .col-xs-3 {
  padding-left: 0;
  padding-right: 0;
}
.group-label {
  font-size: 12px;
  color: #0e3f51;
}
.group-btn {
  width: auto;
	height: 26px;
	border-radius: 5px;
	background-color: #0e3f51;
	font-size: 14px;
	color: #ffffff;
  text-align: center;
  padding: 3px 8px 0 8px;
  margin: 5px;
}
.avatar {
  width: 94px;
  height: 94px;
  border-radius: 50%;
}
.panel a{
  text-decoration: none;
}
.panel {
  margin-bottom: 0;
  border: 0;
}
.parent-btn {
	border-bottom: solid 1px #ededed;
	color: #ffffff;
  background-image: url(../images/doe-white-logo.png);
}
.collapsed .parent-btn {
  background-color: #0e3f51;
}
.parent-btn {
  background-color: #4ab9b8;
}
.child-btn {
  background-image: url(../images/directory-black.svg);
}
.child-btn-user {
  background-image: url(../images/user.svg);
}
.child-btn, .child-btn-user {
  background-color: #fafafa;
	border: solid 1px #ededed;
	color: #343441;
}
.child-btn:hover, .child-btn-user:hover {
  background-color: #ededed;
}
.parent-btn, .child-btn, .child-btn-user {
  padding-top: 15px;
  height: 55px;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 1em .7em;
  padding-left: 50px;
}
.child-btn.highlight {
  background-color: #4ab9b8;
  color: #ffffff;
  background-image: url(../images/directory-white.svg);
}
.child-btn.highdark {
  background-color: #0e3f51;
  color: #ffffff;
}
.parent-btn.darkback {
  background-color: #0e3f51;
}
.fa-university {
  padding: 0 20px;
}
.reset-web, .reset-mobile {
  background-image: url(../images/reset.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  padding: 5px 15px 5px 30px;
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  color: #0e3f51;
  background-color: #fafafa;
  border-radius: 5px;
}
.reset-web:hover, .reset-mobile:hover {
  background-color: #ededed;
  cursor: pointer;
}
.reset-mobile {
  display: none;
}
.info {
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .contacts, .user-details {
    padding-bottom: 0;
  }
  .avatar {
    width: 80px;
    height: 80px;
  }
  .detail.col-xs-10.row {
    margin-right: 5px;
    margin-left: 5px;
  }
  .reset-mobile {
    display: table;
  }
  .reset-web {
    display: none;
  }
  .all-content, .directory {
    padding-left: 15px;
    padding-right: 15px;
  }

}
