body {
  margin: 0px;
  background: #fff;
  top: 0;
}
.header {
  background-image: url("../images/header-dark-bg.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
}
.search {
  float: right;
  padding-right: 25px;
}
.input-style {
  width: 300px;
  height: 34px;
  margin-top: 13px;
  padding-left: 1.5rem;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 1px #ffffff;
	font-size: 13px;
	font-weight: 300;
	color: #343441;
  font-family: Montserrat, "FontAwesome";
}
.panel.panel-collapse.collapse.in:last-of-type {
  background-color: lime;
}
.seach-btn {
  position: absolute;
  border-radius: 100px;
  background: #fff;
  border: 0;
  width: 77px;
  right:28px;
  top: 16px;
  height: 28px;
}
.seach-btn:focus, .input-style:focus {
  outline:0;
}

.profile, .content {
  margin-top: 25px;
}
.name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  color: #343441;
}
.sub-title {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #c2c2c2;
}
.content-detail {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  color: #343441;
}
.contacts-btn {
  margin-top: -175px;
  width: 90px;
  height: 25px;
  border-radius: 5px;
  background-color: #4ab9b8;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 6px;
  padding-left: 5px;
}
.user-details-btn {
  margin-top: -155px;
  width: 117px;
  height: 25px;
  border-radius: 5px;
  background-color: #4ab9b8;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 6px;
  padding-left: 5px;
}
.contacts-btn:hover, .user-details-btn:hover {
  background-color: #ededed;
  cursor: pointer;
  color: #000000;
}
.fa-user, .fa-circle-o-notch {
  padding: 0 8px;
  font-size: 12px;
}
.avatar {
  width: 94px;
  height: 94px;
  border-radius: 50%;
}
.panel a{
  text-decoration: none;
}
.parent-btn, .parent-btn-top {
	height: 55px;
	border-bottom: solid 1px #ededed;
	font-family: Montserrat;
	font-size: 14px;
	color: #ffffff;
}
.collapsed .parent-btn {
  background-color: #0e3f51;
}
.parent-btn {
  background-color: #4ab9b8;
}
.parent-btn-top {
  border-radius: 5px 5px 0 0;
}
.panel {
  margin-bottom: 0;
  border: 0;
}
.child-btn {
	height: 55px;
	background-color: #fafafa;
	border: solid 1px #ededed;
  font-family: Montserrat;
	font-size: 14px;
	color: #343441;
}
.child-btn:hover {
  background-color: #ededed;
}
.parent-btn, .parent-btn-top, .child-btn {
  padding-top: 15px;
}
.fa-university {
  padding: 0 20px;
}
.user-details, .contacts{
  min-height: 210px;
	border-radius: 8px;
	background-color: #fafafa;
	border: solid 1px #ededed;
  padding: 15px;
}
@media (max-width: 991px) {
  .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
